# root files do not belong into the repository
__init__.py
*Dict_rdict.pcm
*.tex
*.pdf
*.png
*.log
*.root
*.o
*Dict.h
*Dict.cc
*.pyc

# ignore backup files of any sort of editor:
~*
*~
\#*
*.swp

# ignore some directories
lib
bin
